h3{

}

.givitTeam {
    margin-left: 110px;
    text-transform: uppercase;
    font-family: Bahnschrift SemiBold;
    font-size: 35px;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 100px;
   }

.backButton
{
    margin-bottom: 10px;
    margin-left: 10px;

}