h2{
    margin-left: 30px;
    font-family: Bahnschrift SemiBold;
}

.givitTeam {
    margin-left: 110px;
    text-transform: uppercase;
    font-family: Bahnschrift SemiBold;
    font-size: 35px;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 100px;
   }

   .itemLink {
       color: inherit !important;
       text-decoration: none !important;

   }
    div.card.mb-4{
        display:flex;
        flex-direction: column;
        align-item: center;
    }
   div.container-fluid{
        display:flex;
        flex-direction: column;
   }

   .navbar-nav{
        display:flex;
        flex-direction: row;
        }

.backButton {
    margin-bottom: 10px;
    margin-left: 30px;
}

.mb-3{
    margin-left: 30px;
    margin-right: 50%;
}

