<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="template.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>


<!--<p th:text="${'Logged in as: ' + session.Username}"></p> -->


<div class="givitTeam">
    <h3><p>Givit is a recycling app. </p>
        Produced as a graduation project by: <br>
        Derya Baykal, Ulf Hedén, Haidar Eliwi, <br>
        Tobias Träff and Mohammed Ahmed. <br><br>
        Java HT 2022 - Academic Work.
    </h3>

</div>

<div class="backButton">
    <button type="button" onclick="location.href='/'; "class="btn btn-outline-secondary">Back</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>
</html>